#form1 
{
  margin-top:1.4%;
  margin-bottom:1%;
  margin-right: 1%;
  width:20%;
}

body
{
  
}

tbody
{
  overflow-y:auto;
  height:850px;
}

table
{
  border-collapse: collapse;
  width: 100%;
}

#app thead th
{
  position: sticky;
  top: 0;
}

th, td 
{ 
  padding: 8px 16px; 
}

#top
{
  display:flex;
  justify-content: space-between;
}

#title
{
  margin-left:28%;
  margin-top:1%;
}

#tabledata
{
  background-color:lightblue;
  display:flex;
  flex-direction:column;
}

.countries
{
  width: 50px;
  margin-right:38px;
}

h2
{
  width:450px;
}

tr:hover
{
  background-color:#adb8c9;
}

.each:hover
{
  background-color:#768191;
}

th:hover
{
  cursor: pointer;
}
